<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="artistas.css" />
    <title>Document</title>
    <!-- Bootstrap 3 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script
      type="text/javascript"
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    ></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <h1 class="titulo_lista">Lista de todos os artistas:</h1>
            <%= aArtista.ouvintes %> 
            <div  class="col-sm-4 boxartista">   
            <p>
                
            
                            <% for (let iCount = 0; iCount <aArtista.length; iCount++) { %>
                                <a class="ajuste_link_artista" href=<%= aArtista[iCount].artista %>><%= aArtista[iCount].artista %> <br /></a>
                            <%} %>  
             </p>      
            </div>


            
            


        </div>
    </div>

   




</body>
</html>